/* Variáveis */
$primaryColor: #071422;
$secundaryColor: #060812;
$tagColor: #8A7BE0;
$buttonHoverColor: #153047;
$borderColor: #1E2A3A;
$titleColor: #E6F0FF;
$textColor: #A9C6DF;
$font: 'inter', sans-serif;
$desktopBreakpoint: 1024px;
$desktopMaxWidth: 1350px;