@use '../../styles/variables' as *;

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9990;
    animation: fadeIn 0.2s ease;
}

.modalContent {
    min-width: 320px;
    color: $titleColor;
    background: $primaryColor;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $borderColor;
    max-width: 90%;
    min-width: 320px;
    animation: pop 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}