@use '../../styles/variables' as *;

.footer {
    background-color: $primaryColor;
    height: 80px;
    color: $textColor;
    display: flex;
    align-items: center;

    .footerInfos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}