@use '../../styles/variables' as *;

.button {
    border: none;
    outline: none;
    background-color: $tagColor;
    border-radius: 8px;
    padding: 12px;
    color: $titleColor;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}