@use '../../styles/variables' as *;

.profile {
    margin: 36px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .imageAndName {
        display: flex;
        align-items: center;
        gap: 16px;

        figure {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $borderColor;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .fileInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        button {
            align-self: flex-end;
        }
    }
}