@use '../../styles/variables' as *;

.profile {
    margin: 36px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .imageAndName {
        display: flex;
        align-items: center;
        gap: 16px;

        figure {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $borderColor;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .dashboardLink {
        button {
            width: 100%;
        }
    }

    .fileInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        button {
            align-self: flex-end;
        }
    }

    .logout {
        background-color: #EF4444;
        align-self: flex-end;
        width: 100%;
        border: none;
        border-radius: 8px;
        padding: 12px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $titleColor;
        cursor: pointer;
    }

    .edit {
        background-color: rgb(28, 28, 211);
        width: fit-content;
        border: none;
        border-radius: 8px;
        padding: 12px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $titleColor;
        cursor: pointer;
    }

    .fileInputContainer {
        margin: 16px 0px;

        .actions {
            display: flex;
            gap: 16px;
            justify-content: flex-end;
        }
    }
}

@media (min-width: $desktopBreakpoint) {
    .profile {
        .logout,
        .dashboardLink button {
            width: fit-content;
        }
    }
}