@use './styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $secundaryColor;
  padding-bottom: 50px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}