@use '../../../styles/variables' as *;

.comentary {
    color: $titleColor;
    background-color: $primaryColor;
    border-radius: 8px;
    border: 1px solid $borderColor;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    figure {
        align-self: flex-start;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $borderColor;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .texts {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .comentaryHeader {
            .name {
                display: flex;
                align-items: center;
                gap: 16px;

                span {
                    font-size: 14px;
                    color: $textColor;

                }
            }
        }

        .isUpdate {
            font-size: 14px;
            color: $textColor;
            align-self: flex-end;
        }
    }




}