@use '../../../styles/variables' as *;

.comentary {
    color: $titleColor;
    background-color: $primaryColor;
    border-radius: 8px;
    border: 1px solid $borderColor;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    figure {
        align-self: flex-start;
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $borderColor;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .texts {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .comentaryHeader {
            .name {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 12px;
                    color: $textColor;
                }
            }
        }
    }

    .menuOptions {
        align-self: flex-start;
        position: relative;

        .menuButton {
            background: transparent;
            border: none;
            font-size: 22px;
            color: white;
            cursor: pointer;
            padding: 5px;
        }

        .menuDropdown {
            position: absolute;
            right: 0;
            top: 30px;
            background: #1d1d1d;
            border: 1px solid #333;
            border-radius: 6px;
            list-style: none;
            padding: 5px 0;
            width: 120px;
            z-index: 10;

            li {
                padding: 8px 12px;
                cursor: pointer;
                transition: 0.2s;
                color: white;

                &:hover {
                    background: #333;
                }
            }
        }
    }
}